<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active" ><a ng-href="#">Home</a></li>
    <li><a ng-href="#/vegan">Chart</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Vegan Battle</h3>
</div>

<div class="jumbotron">
  <h1>Vegan Battle</h1>
  <p class="lead">
    See who is surrounded by the most vegetables.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/vegan">Veggify!</a></p>
</div>

<div class="row marketing">
  <h4>Right now</h4>
  <p>
    We got a chart of vegan-friendly restuarants in a five mile radius.
  </p>

  <h4>Future</h4>
  <p>
    Can battle your friends using your geolocated vegetables.
  </p>

  <h4>Adventure</h4>
  <p>Intrigue and suspense.</p>
</div>

<div class="footer">
  <p>♥ broccoli</p>
</div>
